#body {
  font-family: 'Oswald', sans-serif;
  border: 1px white solid;
}
#head1{
  height: 91px;
  background-color: #BBDEB4;
  position: relative;
  top: 40px;
}
#abouth1{
  width: 600px;
  position: relative;
  right: 38px;
  top: 20px;
  background-color: #BBDEB4;
  height: 185px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #414042;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #BBDEB4;
  display: block;
  transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
  color: #8EC57B;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}
span{
  color: #BBDEB4;
  float: right;
  margin-right: 15px;
}
#mainhr{
  height:25px;
  background-color:#414042;
  margin-top: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 10px;}
}
form {
  width:500px;
  margin:50px auto;
  display: flex;
}
#search{
  height:40px;
}
.search {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
.button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:2px solid #207cca;
  background-color:#207cca;
  color:#fafafa;
}
.button:hover  {
  background-color:#fafafa;
  color:#207cca;

}
#logo{
  display: grid;
  /*border: 10px red solid;*/
  margin:5%;
  position: relative;
  top: -70px;
}
.background_image{
margin: auto;
width: 90%;
border: 5px #414042 solid;
position: relative;
top: -125px;
}
.background_image1{
margin: auto;
width: 90%;
border: 5px #414042 solid;
position: relative;
bottom:110px;
}

.background_image2{
margin: auto;
width: 90%;
border: 5px #414042 solid;
position: relative;
bottom: 70px;
}

#top{
  display:flex;
}
#backgr{
  height:100%;
  width: 100%;
}
footer{
  text-align: center;
  background-color: #414042;
  height: 40px;
  color: #8EC57B;
  margin-top: 15px;
  padding-top: 10px;
}

input{
  width: 450px;
  height: 40px;
}

/*Text on background image*/
.relative{position:relative; width:;}
#absolute-text{position:absolute; bottom:0;
  font-size:24px;
  font-family: 'Oswald';
  background:rgba(251,251,251,0.5);
   padding:; width:80%;
   text-align:center;
   margin-left: 100px;
   margin-bottom: 400px;}
#absolute-text a{font-size:16px; color:#b92b27;}

/* Dropdown Button */
.hoverButtons {
    background-color: #3e8e41;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width:150px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
    position: relative;
    bottom: -60px;
    right: 40px;
    /*margin-top: 80px;*/

}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #414042;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #ffffff
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */

.dropdown-content  #dropdown1:hover {
  background-color: #8EC57B;

}
/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .hoverButtons {
    background-color: #8EC57B;
}

#dropdown1{
  color: #ffffff;
}
